{% extends "base.html" %}
{% block page_content %}
	<div class="question">
    	<form method="POST" action="">
    		{{ form.hidden_tag() }}
    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4">{{ legend }}</legend>
    			<div class="form-group">
    				{{ form.question.label(class="form-control-label") }}
    				{{ form.question(class="form-control form-control-lg") }}
    			</div>
    			<div class="form-group">
    				{{ form.answer.label(class="form-control-label") }}
    				{{ form.answer(class="form-control form-control-lg") }}	
    			</div>
                <div class="form-group">
                    {{ form.chapter.label(class="form-control-label") }}
                    {{ form.chapter(class="form-control form-control-lg") }}   
                </div>
    			<div class="form-group">
    				{{ form.tags.label(class="form-control-label") }}
    				{{ form.tags(class="form-control form-control-lg") }}	
    			</div>
    		</fieldset>
            {% if card %}
            <form action="{{ url_for('delete_question', card_id=card.id)}}" method="POST" class="float-left">
                <input class="btn btn-danger float-left" type="submit", value="Delete">
            </form>
            {% endif %}
    		<div class="form-group">
    			{{ form.submit(class="btn btn-outline-info") }}
    		</div>
    		
    	</form>
    </div>
{% endblock page_content %}