{% extends "base.html" %}
{% block page_content %}
	<div class="question">
        <h5>{{ card.question }}</h5>
    	<form method="POST" action="">
    		{{ form.hidden_tag() }}
    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4">{{ legend }}</legend>
    			<div class="form-group">
    				{{ form.answer.label(class="form-control-label") }}
    				{{ form.answer(class="form-control form-control-lg") }}
    			</div>
    		</fieldset>
    		{{ form.submit(class="btn btn-success") }}
    	</form>
        <a class="btn btn-warning" href="{{ url_for('edit_question', card_id=card.id) }}">Edit</a>
        <form action="{{ url_for('delete_question', card_id=card.id)}}" method="POST">
            <div class="form-group fgr">
                <input class="btn btn-danger" type="submit", value="Delete">
            </div>
        </form>
    </div>
{% endblock page_content %}